body{
    margin: 0;
    padding: 0;
}

h2, p{
    margin: 10px;
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

img{
    width: 50%;
    max-width: 200px;   
}

.sega-saturn, .cartuchos {
    max-width: 500px;
    height: auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nave{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3333;
}

ul li {
    float: left;
    border-right: 1px solid #bbbb;
}

ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-align: none;
}

ul li a:hover:not(.active){
    background-color: #000000;
}

ul li:last-child{
    border-right: none;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}